body {
    min-width: 600px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    background-color: white;
    min-width: 300px;
}

.container_header {
    min-width: 600px;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    /* border: 1px solid black; */
}

.container_nav_side {
    position: sticky;
    top: 57px;
    width: 150px;
    height: 100%;
    border: 1px solid black;
}

.container_nav_top {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    left: -100px;
    top: 57px;
}

.container_content {
    /* margin: 10px; */
    /* margin-top: 0px; */
    /*margin-left: 0px;*/
    /* border: 1px solid black; */
    color: #275662;
    /* padding-top: 0px; */
}

.header_title {
    /* border: 1px solid black; */
    color: #275662;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}

div.go_to:hover {
    background-color: #93abb1;
}

.container_body {
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: flex-start;*/
    /* justify-content: space-between; */
    align-items: flex-start;
    /* border: 1px solid black; */
}

@media only screen and (max-width: 1000px) {
    .container_nav_side {
        /* visibility: hidden; */
        display: none !important;
        width: 0px;
    }
    .container_content {
        width: 100%;
    }
    .container_nav_top{
        visibility: visible;
    }

    .nav_top_toggle {
        /* visibility: visible; */
        display: flex;
    }
}

@media only screen and (min-width: 1000px) {
    .nav_top_toggle {
        /* visibility: hidden; */
        display: none !important;
        width: 0;
    }
}

.nav_title {
    font-size:larger;
    color: #275662;
}

.nav_top_toggle {
    
    position: sticky;
    display: inline;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav_top_toggle:hover {
    background-color: #93abb1;
}

.horizontal_line {
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid black; */
    margin: 5px;
    flex-direction: row;
    width: 30px;
    height: 6px;
    background-color: #435a60;
    overflow: hidden;
}

.section_title {
    /* padding-top: 0px; */
}

section {
    display: block;
    margin: 10px;
    margin-top: 0px;
    height: 1000;
    border: 1px solid orange;
    padding: 20px;
    border-radius: 5px;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.animate_show_nav {
    left: 0px;
}